<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!--Add a nav bar here -->
    <!--If this is altered, alter the one of index.html, and copy it everywhere!! -->
    <!--If this is altered, alter the one of index.html, and copy it everywhere!! -->
    <!--If this is altered, alter the one of index.html, and copy it everywhere!! -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
                <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About Us</a>
                <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="#">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="#" method="POST">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                            <input type="password" class="form-control" placeholder="Password" name="psw">
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %">Sign Up</a> 
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!--Add a registration form here -->
    <form action="{% url 'djangoapp:registration' %}" method="POST">
        <div class="container">
            <h1>Sign Up</h1>
            <hr>
            <label for="username"><b>User Name</b></label>
            <input type="text" class="form-control" placeholder="Username" name="username" required>
            <label for="firstname"><b>First Name</b></label>
            <input type="text" class="form-control" placeholder="Firstname" name="firstname" required>
            <label for="lastname"><b>Last Name</b></label>
            <input type="text" class="form-control" placeholder="Lastname" name="lastname" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Password" name="pwd" required>
            <div>
                {% csrf_token %} 
                <button class="button" type="submit">Sign Up</button>
            </div>
        </div>
    </form>
</body>
</html>
